version: '3.8'

services:
  flask:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask
    env_file:
      - .env

  nginx:
    build:
      context: ./nginx/
      dockerfile: Dockerfile
    container_name: nginx
    depends_on:
      - flask
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/http-only.conf:/etc/nginx/default.conf:ro
      - ./nginx/https.conf:/etc/nginx/https.conf:ro
